.barraNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(96, 25, 25);
}


.barraNav p {
    background-color: rgb(249, 210, 104);
    padding: 10px 25px;
    border-radius: 40px;
}

.barraLogo {
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 30px 50px;
font-weight: bold;
}

.barraLogo img {
    width: 50px;
    height: auto;}
.card {
  background-color: #fbf7e3;
}
